<div class="row">
  <div class="col-sm-6 form-group">
    <label for="name">Flight Number</label>
    <input type="text" id="number" class="form-control" #flightNumberInput>
  </div>
  <div class="col-sm-5 form-group">
    <label for="amount">Time</label>
    <input type="text" id="time" class="form-control" #timeInput>
  </div>
  <div class="col-sm-7 form-group">
    <label for="amount">Destination</label>
    <input type="text" id="destination" class="form-control" #locationInput>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button class="btn btn-success" type="button" (click)="onAddFlight()">Add</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12 list-group">
    <app-departing-flight *ngFor="let flightEl of this.departureService.getFlights()" [flight]="flightEl"
    (flightSelected)="onFlightSelected(flightEl)"></app-departing-flight>
  </div>
</div>
